.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26rem;
  height: 26rem;
  background: linear-gradient(to bottom, #27cbff, #f3fbff);
  box-shadow: 0 0 25px rgba(#caefff, 0.51);
  border-radius: 100%;
  perspective: 1000px;
  &__orbit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  &--inner {
    transition: box-shadow 0.15s;
    cursor: pointer;
    width: 40%;
    height: 40%;
    border: none;
    outline: none;
    background: rgba(#fff, 0.95);
    box-shadow: 0 4px 4px rgba(#000, 0.25);
    border-radius: 100%;
    &:hover {
      box-shadow: 0 8px 6px rgba(#000, 0.15);
    }
    &:active {
      transform: translateY(0px);
      box-shadow: 0 2px 2px rgba(#000, 0.35);
    }
  }
}
