.center{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    align-items: center;
    height: 100%;
    width: 35%;
    background: linear-gradient(to bottom, #750092, #A5004F);    
}